<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h1>List of unverified posts</h1>

<ul>
  <% @posts.each do |p| %>
    <li>
      <%= p.url %> <a class="post-preview-links" data-id="<%= p.id %>" href="#">view</a>
      <form action="<%= verify_post_path p.id %>" method="post"><input type="submit" value="Verify"></form>
    </li>
  <% end %>
</ul>

<div id="post_preview_id">
  <% @posts.each do |p| %>
    <div class="post-previews" style="display:none; padding: 10px; background: #707070;" id="post_preview_<%= p.id %>">
      <div class="fb-post" data-href="<%= p.url %>" data-width="500"></div>
    </div>
  <% end %>
</div>

<script>
 $(function(){
   $(".post-preview-links").click(function(){
     var pid = $(this).data('id');
     $(".post-previews").hide();
     $("#post_preview_" + pid).show();
     return false;
   });
 });
</script>
